<!-- <h1>{{ title }}</h1> -->

<!-- <input [type]="tipo" name="txtnombre" [value]="valor"><br>
<img [src] = "img" alt=""><br>
<a [href]="enlace">El comercio</a>

<p [className]="clase01">
  ¡Alianza Lima es el orgullo del fútbol peruano! Con su historia legendaria y su espíritu indomable, inspira a generaciones enteras de hinchas a seguir adelante con pasión y determinación. ¡Arriba Alianza, siempre en lo más alto!
</p>

<p [className]="clase02">
  ¡La grandeza de Alianza Lima nunca se apaga! Con su garra y entrega en cada partido, demuestra por qué es el más querido y respetado. En las buenas y en las malas, ¡Alianza sigue siendo la luz que ilumina el camino de todos sus seguidores!
</p> -->

<!-- <button (click)="onClick()">Enviar</button> -->

<input [(ngModel)]="nombre" placeholder="Enter your name">
<p>Hello, {{nombre}}! </p>